<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IKalkulatorService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58337/Service1.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IKalkulatorService"
                contract="ServiceReference1.IKalkulatorService" name="WSDualHttpBinding_IKalkulatorService">
                <identity>
                    <userPrincipalName value="DESKTOP-QDHFQD6\marko" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>