<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISokovi" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50166/Sokovi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISokovi" contract="ServiceReferenceSokovi.ISokovi"
                name="BasicHttpBinding_ISokovi" />
        </client>
    </system.serviceModel>
</configuration>